<h1 class="text-center">AlchemyAPI News Finder</h1>

<div id="search-form">
  <h3>Search millions of news and blog articles</h3>
    <div class="row col-sm-12">
      <div class="col-sm-3">Where</div>
      <div class="col-sm-3"><input id="news-query"></input></div>
    </div>
    <div class="row col-sm-12">
      <div class="col-sm-3">
        <p>Is mentioned as (a)</p>
      </div>

      <div class="dropdown col-sm-3">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Select an Entity
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" name="entity-selection[entity]">

          <% @entities.each do |entity| %>
          <li><a href="#"><%= entity %></a></li>
         <% end %>
        </ul>
      </div>
    </div>
  <div class="row col-sm-12">
    <div class="col-sm-3">&nbsp;</div>
    <div class="col-sm-3">
      <button class="btn btn-success", id="submit">Submit</button>
    </div>
  </div>
</div>

<% if flash[:error] %>
  <div class="row col-sm-12">
    <div class="danger"><%= flash[:error] %></div>
  </div>
<% end %>

<div class="row col-sm-12">
<% if @stories && !@stories.empty? %>
  <% @stories.each_with_index do |story, index| %>
    <div class="story">
      <h3>Story #<%= index + 1 %>:
        <%= link_to story.title, story.url %></h3>

      <!-- <p>Excerpt: <%= story.excerpt %></p> -->
      <p>Keywords: <%= story.keywords %></p>
      <p>Sentiment: <%= story.sentiment %></p>
      <p>Taxonomy: <%= story.taxonomy %></p>

      <table class="table table-striped">
        <tr>
          <td class="entity-header">Entity</td>
          <td class="entity-header">Type</td>
          <td class="entity-header">Sentiment</td>
        </tr>
        <% story.entities.each do |ent| %>
          <tr class="entity">
            <td id="entity-title"><%= ent.title %></td>
            <td><%= ent.entity_type %></td>
            <td><%= ent.sentiment.capitalize %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
<% end %>
</div>
