<h1 class="text-center">AlchemyAPI News Query Builder</h1>

<h4>Search millions of news and blog articles</h4>
<%= form_for(:home, url: home_index_path, method: :post) do |f| %>
  <p><%= f.label "Where " %>
  <%= f.text_field :news_query %></p>
  <p><%= f.label "Is mentioned as" %>
  <%= f.select :entity, options_for_select(@entities.each { |ent| ent }) %></p>
  <%= f.submit "Submit", class: "btn btn-success" %>
<% end %>

<% if flash[:news_stories] %>
  <% if flash[:news_stories].class == String %>
    <p><%= flash[:news_stories] %></p>
  <% else %>
    <%= flash[:news_stories].each_with_index do |story, index| %>
      <h3>Story #<%= index + 1 %>: <%= link_to story.title, story.url %></h3>
      <p>Excerpt: <%= story.excerpt %></p>
      <p>Keywords: <%= story.keywords %></p>
      <p>Entities: <%= story.entity %></p>
      <p>Sentiment: <%= story.sentiment %></p>
      <p>Taxonomy: <%= story.taxonomy %></p>
    <% end %>
  <% end %>
<% end %>
